html {
    scrollbar-width: none; 
}
body{
    font-family: quicksand, sans-serif;
    background-color: #19191b;
    color : white;
}
.tile {  
  border: 1px solid #292737;
}

.light-mode {
  background-color: white;
  color : black;
}
body.light-mode button{
  color: black;
}
