body{
    font-family: quicksand, sans-serif;
    background-color: #19191b;
    color : white;
}
.tile {  
  border: 1px solid #292737;
}
#container {
  width: 120rem;
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}