html {
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
}
body{
    font-family: Quicksand, sans-serif;
    background-color: #19191b;
    color : white;
       padding: 0;
    margin: 0;

}
.tile {  
  border: 1px solid #292737;
}

.light-mode {

  background-color: #f4f5f4;
  color : black;
}
body.light-mode button{
  color: black;
}
body.light-mode #container {
  background-image: radial-gradient(circle at 50% 50%, #e0e9f2 60%, #c3d4f0 100%);
}